body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #481e1e;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.busqueda {
  background-color: #ffffff;
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  text-align: center;
}

.busqueda h2 {
  margin-bottom: 1rem;
  color: #333;
}

form {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

input[type="text"] {
  padding: 0.5rem;
  font-size: 1rem;
  flex: 1;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007acc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005fa3;
}

#result {
  margin-top: 2rem;
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  color: #444;
  text-align: center;
}

/*CARDS INICIO*/
.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: absolute;
  padding: 32px;
  overflow: hidden;
  border-radius: 10px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #000000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .heading {
  font-weight: 700;
  font-size: 32px;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(-45deg, #343332 0%, #570228 100%);
  z-index: -1;
  transition: width 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
  width: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn {
  color: #212121;
  background: #e8e8e8;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn:active {
  box-shadow: none;
}
